$width-1460: 1460px;
$width-1459: 1459px;
$width-1024: 1024px;
$width-1023: 1023px;
$width-768: 768px;
$width-767: 767px;
$width-1000: 1000px;
$width-999: 999px;
$width-576: 576px;
$width-575: 575px;
$width-480: 480px;
$width-479: 479px;
$width-360: 360px;
$width-359: 359px;
